.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgb(250, 249, 246);
  z-index: 1;
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  transition: all 0.5s ease-in;
}
.product:hover {
  transform: scale(1.02);
}
.product__image {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
}
.product__info > p {
  font-size: 15px;
  color: #111;
}
.product__price {
  margin-top: 5px;
  font-size: 10px;
  color: darkgray;
}
.product__price > strong {
  color: rgb(161, 159, 159);
  font-size: 12px;
  margin-left: 4px;
}
.product > button {
  background-image: linear-gradient(30deg, #dd3e54, #6be585, #ffd452);
  border: none;
  margin-top: 10px;
  padding: 6px 20px;
  border-bottom-right-radius: 40px;
  color: #121212;
}
.product__rating {
  display: flex;
  font-size: 12px;
}
